--extra-index-url https://download.pytorch.org/whl/cu121
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
httpx
transformers<4.44.0
huggingface-hub==0.23.2
torch
sentencepiece
python-dotenv
google-generativeai
python-multipart
pandas
openpyxl
sentence-transformers
bert-score
sacrebleu
numpy<2.0.0
camel-tools
tqdm
